@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-clr-primary-50: 253, 244, 255;
  --tw-clr-primary-100: 250, 232, 255;
  --tw-clr-primary-200: 245, 208, 254;
  --tw-clr-primary-300: 240, 171, 252;
  --tw-clr-primary-400: 232, 121, 249;
  --tw-clr-primary-500: 217, 70, 239;
  --tw-clr-primary-600: 192, 38, 211;
  --tw-clr-primary-700: 162, 28, 175;
  --tw-clr-primary-800: 134, 25, 143;
  --tw-clr-primary-900: 112, 26, 117;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fdf4ff */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #fae8ff */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #f5d0fe */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #f0abfc */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #e879f9 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #d946ef */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #c026d3 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #a21caf */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #86198f */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #701a75 */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media (min-width: 768px) {
    html {
      scroll-padding: 110px;
    }
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Light.ttf');
    font-style: medium;
    font-weight: 300;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
    font-style: medium;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Medium.ttf');
    font-style: medium;
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBold.ttf');
    font-style: medium;
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf');
    font-style: medium;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora/Sora-Medium.ttf');
    font-style: medium;
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora/Sora-SemiBold.ttf');
    font-style: medium;
    font-weight: 600;
    font-display: swap;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  h1 {
    @apply font-heading text-2xl font-bold md:text-4xl;
  }

  h2 {
    @apply font-heading text-xl font-bold md:text-3xl;
  }

  h3 {
    @apply font-heading text-lg font-bold md:text-2xl;
  }

  h4 {
    @apply font-heading text-base font-bold md:text-lg;
  }

  body {
    @apply font-text text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-64px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-500));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
  opacity: 0.5;
  border-radius: 10px;
}
